@import '~styles/vars'

.container
  lost-center $center
.sliderWrapper
  max-width: 400px
  margin: 24px auto
  border-radius: 3px

:global
  .slider
    padding: 0
    margin: 0
    list-style: none
    position: relative
    // overflow: hidden
    &:hover
      cursor: grab
    &:active
      cursor: grabbing
    .slider__track
      display: block;
      .slide
        display: inline-block
        padding: 12px
        text-align: center
        for num in (1..5)
          &--{num}
            // height: 100 * num px
            height: 200px
            background: darken(#B2D8FF, 7% * num)
