@import '../vars'

body
  font-family: $gotham
  font-smoothing: antialiased
  text-rendering: optimizeLegibility
  color $black
  font-size: 14px

h1, h2, h3, h4, h5
  color $black
  margin 8px 0

h5
  color $silver

h1, h2
  font-weight: 700
  font-size: 30px
