@import "../vars"

label
input
select
textarea
  font-size: 13px
  font-family: inherit
  line-height: $base-line-height

label
  display: block

textarea
input[type="text"]
input[type="password"]
input[type="datetime"]
input[type="datetime-local"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="week"]
input[type="number"]
input[type="email"]
input[type="url"]
input[type="search"]
input[type="tel"]
input[type="color"]
  background: transparent
  vertical-align: baseline;
  appearance: none;
  display: block;
  position: relative
  border: 0
  background-color: transparent
  &:focus
    border-bottom: 1px solid rgba($silver, 0.9)
  &.error-input
    border-bottom: 1px solid $cinnabar

textarea
  height: auto

.field-group
  margin-bottom: 15px

.field-label
  color: $silver

select
input[type="file"]
  height: 28px
  line-height: @height

select
  border: 1px solid $silver

input[disabled]
select[disabled]
textarea[disabled]
input[readonly]
select[readonly]
textarea[readonly]
  color: $silver
  background-color: $white
  border: 1px solid $silver

input[disabled]
select[disabled]
textarea[disabled]
  cursor: not-allowed

input[readonly]
select[readonly]
textarea[readonly]
  color: $silver
  cursor: text
  background-color: $silver

input[type="radio"]
input[type="checkbox"]
  margin: 3px 0
  *margin-top: 0
  line-height: normal

.radio
.checkbox
  color: $silver
  margin: 5px 15px 0 0

.radio input[type="radio"]
.checkbox input[type="checkbox"]
  float: left
  padding: 0
  margin-right: 5px

.help-block
  color: $silver
  margin: 5px 0 0

.help-inline
  color: $silver
  padding-left: 8px
  vertical-align: middle

.error
  background: $cinnabar
  color: $white
  padding: 8px 17px
  font-size: 12px
  display: block

.form-actions
  button
    margin-right: 5px

.fields-inline
  input
    margin-right: 5px

.form-horizontal
  .field-group:after
    display: table
    content: ''
    clear: both

  .field-group
    *zoom: 1

  .field-label
    float: left
    padding-left: 5px
    width: 95px
    margin-top: 3px
    text-align: right

  .fields
  .fields-inline
    margin-left: 120px

  .form-actions
    margin: 10px 0 0 120px

.form-vertical
  .form-actions
    padding-top: 8px
  .field-label
    display: block
    margin-bottom: 3px

.multi-input input
  margin-bottom: 8px

.multi-input .help-inline
  margin-top: -8px
