// @import 'fonts.css'
@import 'mixins.styl'
@font-face
  font-family: 'BrandonText'
  font-path: '../fonts/BrandonText-Medium_gdi'
  font-weight: 400
  font-style: normal
body
  display: flex
  font-family: 'BrandonText'
  size: 100%
a:hover
  transition: all 1s ease-in-cubic
