@import '~styles/mixins'

@lost gutter 30px
@lost flexbox flex

$font = 'BrandonText'

$background = #fff
$color =  #232323
$white = #fff

$home = #d05231

$center = 1024px
$mobile = 560px
$tablet = 768px
