@import '~styles/mixins'

@lost gutter 30px
@lost flexbox no-flex
@lost cycle auto

// Fonts
$font = 'BrandonText', 'Helvetica', sans-serif

// Colors
$color =  #232323
$gray =  #ccc
$white = #fff
$background = $white

// Breakpoints
$center = 1024px
$mobile = 560px
$tablet = 768px
