{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "TweenMax": true,
    "TweenLite": true,
    "TimelineMax": true,
    "Sine": true,
    "Power1": true,
    "Power2": true,
    "Power3": true,
    "Power4": true,
    "Back": true,
    "Elastic": true,
    "Linear": true,
  },
  "rules": {
    "no-unused-vars": 1,
    "no-console": 0,
    "max-len": 0,
    "semi": ["error", "never"],
    "arrow-body-style": 0,
    "indent": [1, 2, { "SwitchCase": 1 }],
    "react/prefer-stateless-function": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "react/no-unused-prop-types": [1, { skipShapeProps: true }],
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "no-tabs": 0,
    "no-return-assign": 0,
    "no-unused-expressions": 0,
    "import/no-named-default": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack/webpack.test.babel.js"
      }
    }
  }
}
