@import './vars'

@font-face
  font-family: $gotham-file
  font-path: '../assets/fonts/Gotham Medium'
  font-style: normal
  font-weight: 400

html,
body
  background: $white
  size: 100%
  min-width: 100%
  min-height: 100%

#Root
  lost-utility clearfix

#RootLoader
  position: fixed
  size 100%
  background: $white
  z-index: 9999
  margin 0
  padding: 0
  overflow: hidden
  &_Container
    center both
    width: 100px
    text-align: center
    &_Square
      size 100px
      background: $black
    &_Line
      background: $black
      height: 4px
