@import '~styles/vars'

@font-face
  font-family: $fontFamily
  font-path: 'assets/fonts/BrandonText-Medium_gdi'
  font-style: normal
  font-weight: 400

html,
body
  background: $background
  color: $color
  size: 100%
  min-width: 100%
  min-height: 100%

body
  font-family: $font
  font-smoothing: antialiased
  text-rendering: optimizeLegibility
