@import '~styles/vars'

@font-face
  font-family: $font-file
  font-path: '../assets/fonts/BrandonText-Medium_gdi'
  font-style: normal
  font-weight: 400

html,
body
  background: $background
  color: $black
  size: 100%
  min-width: 100%
  min-height: 100%

body
  font-family: $primary-font
  font-smoothing: antialiased
  text-rendering: optimizeLegibility
