@import './mixins'

$gutter = 20px

@lost gutter $gutter
@lost flexbox no-flex
@lost cycle auto

// Fonts
$gotham-file = 'Gotham'
$gotham = $gotham-file, 'Helvetica', sans-serif

// Colors
$grey =  #e3e0e7
$white = #fff
$black =  #333333
$cinnabar = #E23F3F
$silver = #f7f7f7
// Breakpoints
$center = 1024px
$mobile = 560px
$tablet = 768px
$desktop = 1800px

$base-line-height = 13px

rupture.mobile-cutoff = $mobile
rupture.desktop-cutoff = $center
rupture.hd-cutoff = $desktop
