size($width, $height = $width)
  width: $width
  height: $height

font-smoothing() {
  if current-property {
    -webkit-{current-property}: arguments
    if arguments == antialiased {
      -moz-osx-{current-property}: grayscale
    } else if arguments == subpixel-antialiased {
      -moz-osx-{current-property}: auto
    }
    {current-property}: arguments
  } else {
    error('font-smoothing() must be used within a property');
  }
}

center($type = both){
  position: absolute
  if ($type == vertical){
    top: 50%
    transform: translateY(-50%)
  } else if ($type == horizontal) {
    left: 50%
    transform: translateX(-50%)
  } else {
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  }
}
