@import '~styles/vars'

.item
  display: flex
  border: 1px solid $color
  lost-column: 1/4 4
  transform-origin: 50% 50%
  +below($tablet)
    lost-column: 2/4 2
  +below($mobile)
    lost-column: 4/4 1
  &:before
    content: ''
    padding-top: 100%

.items
  lost-align: center flex
  lost-flex-container: row

.container
  size: 100%
