@import '~styles/vars'

.container
  lost-center $center

.imageContainer
  width: 300px
  position: absolute
  position: relative
  img
    position absolute 0
    width: 100%
  &:before
    content: ''
    display: block
    padding-top: 100%
