@import '~styles/mixins'
@import '~styles/vars'
@lost gutter 60px;
@lost cycle none;

@font-face
  font-family: 'BrandonText'
  font-path: '../../fonts/BrandonText-Medium_gdi'
  font-weight: 400
  font-style: normal

html,
body
  size: 100%
  background: background
  color: color

body
  font-family: 'BrandonText'
