@import '~styles/mixins'
@import '~styles/vars'
@lost gutter 60px
@lost cycle none

@font-face
  font-family: 'BrandonText'
  font-path: '../../fonts/BrandonText-Medium_gdi'
  font-style: normal
  font-weight: 400

html,
body
  background: $background
  color: $color
  size: 100%

body
  font-family: $font
  font-smoothing: antialiased

a
  text-decoration: none
  color: $color

.wrapper
  lost-center: $center 30px
